<ion-header>
  <ion-toolbar>
    <ion-title>{{station}} - Deparatures</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of board">
      {{item.name}} {{item.origin}} {{item.dateTime}} {{item.track}}
    </ion-item>
  </ion-list>
</ion-content>
