<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      DB - Search
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="show_map();">
        <ion-icon slot="icon-only" name="earth"></ion-icon>
      </ion-button>
      <ion-button (click)="show_settings();">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DB</ion-title>      
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="search" (keypress)="find($event);"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let station of stations">
      <ion-item >
      {{station?.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-button (click)="show_arrivals(station)">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
        <ion-button (click)="show_deparatures(station)">
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
