<ion-header>
  <ion-toolbar>
    <ion-title>DB - Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Todo...</p>
</ion-content>
